<h1><%= t 'user.login' %></h1>
<%= form_tag sessions_path, :class => "form-stacked well" do %>
	<div class="clearfix">
		<%= label_tag :email, t('user.email') %>
		<div class="input">
			<%= text_field_tag :email, params[:email] %>
		</div>
	</div>
	<div class="clearfix">
		<%= label_tag :password, t('user.password') %>
		<div class="input">
			<%= password_field_tag :password %>
		</div>
	</div>
	<div class="clearfix">
		<div class="input">
			<%= check_box_tag :remember_me, 1, params[:remember_me] %> <%= t('user.remember') %>
		</div>
	</div>
	<br />
	<div class="actions">
	<%= submit_tag 'Login', :class => "btn btn-primary" %>
	<%= link_to 'Forgot password', new_password_reset_path, :class => "btn" %>
	</div>
<% end %>