<%= form_for @user, :url => password_reset_path(params[:id]), :class="form-stacked well" do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :password, t('user.password') %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, t('user.password_confirm') %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit t('password_resets.update') %></div>
<% end %>