<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <table>
      <tbody>
        <tr>
          <td style="width: 50%; text-align:left;"><%= f.label :email, required: true %></td>
          <td style="width: 50%"><%= f.email_field :email, required: true, autofocus: true %></td>
        </tr>
        <tr>
          <td style="width: 50%; text-align:left;"><%= f.label :password, required: true %></td>
          <td style="width: 50%"><%= f.password_field :password %></td>
        </tr>
        <tr>
          <td style="width: 50%; text-align:left;"><%= f.label :password_confirmation, required: true %></td>
          <td style="width: 50%"><%= f.password_field :password_confirmation %></td>
        </tr>

      </tdody>
    </table>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
