<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "TeachReach", root_path, :class => 'brand' %>
			<ul class="nav">
				<%= nav_link 'Home', root_path %>
				<%= nav_link 'Courses', courses_path %>
				<%= nav_link 'Programmes', programmes_path %>
				<%= nav_link 'Parts', parts_path %>
			</ul>
			<ul class="nav pull-right">
					<% if current_user %>
						<%= nav_link 'Logout', logout_path %>
					<% else %>
						<%= nav_link 'Sign up', signup_path %>
						<%= nav_link 'Log in', login_path %>
					<% end %>
			</ul>
		</div>
	</div>
</div>
</div>