<h1>Courses</h1>
<% if can? :create, @course %>
<%#if is_user_admin %>
	<%= link_to 'New Course', {:controller => "courses", :action => "new"}, :class => 'btn btn-primary pull-right'%>
<% end %>
<table class="zebra-striped">
	<tr>
		<th>Title</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @courses.each do |course| %>
	<tr>
		<td><%= course.title %></td>
		<td><%= link_to 'View', course_path(course)%></td>
		<td><%if is_user_admin %><%= link_to 'Edit', edit_course_path(course)%><%end%></td>
		<td><%if is_user_admin %><%= link_to 'Delete', course, :confirm => 'Are you sure?', :method => :delete %><%end%></td>
	</tr>
	<%end%>
	
</table>