<!DOCTYPE html>
<html lang="en">
<head>
	<title>TeachReach</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body style="padding:50px;">
	<%= render "shared/navigation" %>
	<div class="container">
		<% flash.each do |name, msg| %>
		<div class="alert alert-<%= name == :notice || :success ? "success" : "error" %>">
			<a class="close" data-dismiss="alert">×</a>
			<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
		</div>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>