<!DOCTYPE html>
<html lang="en">
<head>
  <title>TeachReach</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding:50px;">
	<%= render "shared/navigation" %>
	<div class="container">
		<% flash.each do |name, msg, type| %>
		  <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert-message #{name}" %>
		<!--<a class="close" href="#">×</a> before msg-->
		<% end %>
		<%= yield %>
	</div>
</body>
</html>